#mainWindow {
		 -fx-background-color: linear-gradient(lightgreen,skyblue );
}

#rightWindow{
	 -fx-background-color: linear-gradient(lightgreen, skyblue);
	    -fx-border-color: black; 
	
}
#welcomeTxt {
    -fx-font-weight: bolder;
}
#line {
    -fx-background-color: black;
}

#adminImg{
	-fx-background-color: transparent;
	
}
#HomeNav {
    -fx-background-color: linear-gradient(black, #EEEEEE);
    -fx-border-color: black; /* Border color */
    -fx-border-radius: 5px; /* Border radius */
}

#Total{
			 -fx-background-color: linear-gradient(#DEDEDE,black );
}

#Total1{
			 -fx-background-color: linear-gradient(black, #DEDEDE );
}

#hellothere{
-fx-text-fill: linear-gradient(to bottom, #DEDEDE, black);
	
}


#container {
    -fx-background-color: linear-gradient(#DEDEDE, gray);
	
}

