#mainWindow {
		 -fx-background-color: linear-gradient(lightgreen,skyblue );
}

#rightWindow{
	 -fx-background-color: linear-gradient(lightgreen, skyblue);
	    -fx-border-color: black; 
	
}

#line {
    -fx-background-color: black;
}

#adminImg{
	-fx-background-color: transparent;
	
}
#UpdateNav {
    -fx-background-color: linear-gradient(black, #EEEEEE);
    -fx-border-color: black; /* Border color */
    -fx-border-radius: 5px; /* Border radius */
}

#container {
    -fx-background-color: linear-gradient(#DEDEDE, gray);
	
}


#save {
    -fx-background-color: linear-gradient(skyblue, lightgreen);
    -fx-background-insets: 0, 2;
    -fx-background-radius: 20;
    -fx-border-radius: 5;
}

#save:hover {
    -fx-background-color: linear-gradient(skyblue, lime);
}

#isPaid {
    -fx-border-radius: 5px; 
}

#fullname_txt, #renatl_period_txt {
    -fx-background-radius: 10px; 
    -fx-background-color: #dddddd;
}

#price_txt {
	    -fx-background-radius: 10px; 
    -fx-background-color: white;
}

